<% layout('layouts/boilerplate') %>
<h1>
    <%= post.title %>
</h1>
<p>
    <%= post.body %>
</p>
<blockquote>by <%= post.author %>
</blockquote>

<div>
    <form action="/post/<%= post._id %>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>
    <a href="/post/<%= post._id %>/edit">Edit</a>
</div>
