<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-8 offset-2 ">
            <div class="card">
                <img src="<%=post.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= post.title%></h5>
                    <blockquote class="blockquote mb-0">
                        <p><%= post.body %></p>
                        <footer class="blockquote-footer"><cite title="Source Title"><%= post.author %></cite></footer>
                    </blockquote>
                    <div class="my-2 text-end">
                        <form action="/post/<%= post._id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger">DELETE</button>
                        </form>
                        <a class="btn btn-warning mt-2" href="/post/<%= post._id %>/edit">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>